.App {
  text-align: center;
  position: relative;
  background-color: rgb(75, 75, 75);

  
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.app button{
  background-color: rgb(226, 190, 231);
  border: none;
  border-radius: 5px;
  padding: 10px;
  font-size: 20px;
  cursor: pointer;
  margin: 10px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.app button:hover{
  background-color: rgb(221, 188, 227);
  color: rgb(0, 0, 0);
}

