.app {
  text-align: center;
  height: 100vh;
  padding: 100px;
  background-color: rgb(75, 75, 75);

  gap:10px;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}

.app button{
  background-color: rgb(226, 190, 231);
  border: none;
  border-radius: 5px;
  padding: 10px;
  font-size: 20px;
  cursor: pointer;
  letter-spacing: 5px;
  margin-top: 50px;
}

.app button:hover{
  background-color: rgb(221, 166, 232);
  color: rgb(0, 0, 0);
}

.app h1{

  font-size: 50px;
  color: rgb(226, 190, 231);
  position: absolute;
  top: 10%;
  left: 50%;
  transform: translate(-50%, -50%);
  letter-spacing: 10px;
}